// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";

$custom-colors: (
  "primary": #4452fe,
  "secondary": #02e4c0,
  "secondary-100": #112d57,
  "text-dark": #000000,
  "text-light": #ffffff,
  "text-gray": #5c5c5c,
  "bg-dark": #181818,
  "bg-dark-100": #343434,
  "bg-light": #ffffff,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "../../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here

@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,500;1,400&display=swap");

:root {
  --bs-body-font-family: "Rubik", sans-serif;
  --bs-emphasis-color-rgb: $text-light;
}

.btn {
  --bs-btn-font-size: 1.0625rem;
}
.navbar-toggler:focus {
  box-shadow: none;
}
.nav-link {
  --bs-navbar-nav-link-padding-x: 1.25rem;
}
// utilities
h1 {
  font-size: 80px;
  line-height: 88px;
}
h2 {
  font-size: 52px;
  line-height: 62px;
}

//general
.navbar {
  --bs-navbar-toggler-icon-bg: url("/public/assets/images/toggle-menu.png");
}
.features {
  padding-top: 62px;
}
