// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";

// * {
//   outline: 1px solid red !important;
// }

$custom-colors: (
  "primary": #4452fe,
  "secondary": #02e4c0,
  "secondary-100": #112d57,
  "text-dark": #000000,
  "text-light": #ffffff,
  "text-gray": #5c5c5c,
  "bg-dark": #181818,
  "bg-dark-100": #343434,
  "bg-light": #ffffff,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "../../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");

:root {
  --bs-body-font-family: "Rubik", sans-serif;
  --bs-emphasis-color-rgb: $text-light;
}

.btn {
  --bs-btn-font-size: 1.0625rem;
}
.navbar-toggler:focus {
  box-shadow: none;
}
.nav-link {
  --bs-navbar-nav-link-padding-x: 1.25rem;
}

//general
.navbar {
  --bs-navbar-toggler-icon-bg: url("/public/assets/images/toggle-menu.png");
}
.hero {
  .hero-content {
    padding: 57px 0px;
    .heading {
      max-width: 8ch;
      letter-spacing: 2px;
    }
    .hero-buttons {
      padding-top: 57px;
    }
  }
  .hero-screens {
    background: linear-gradient(180deg, rgba(30, 30, 30, 0) 0%, #0e0e0e 100%);
    img {
      z-index: -1;
    }
  }
}
.features {
  padding: 62px 0px;
  .row .col p {
    padding-top: 19px;
  }
  .features-columns {
    padding-top: 64px;
  }
  .features-column-left {
    // background-image: url("../images/Chat Bot1.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .features-column-right {
    margin-top: 115px;
  }
}
.gallery {
  padding: 50px 0px;
}
.partners {
  padding: 50px 0px;
}
.testimonials {
  padding: 50px 0px;
}

.footer {
  padding: 107px 0px;
}

.features-column-left .chart-img {
  position: absolute;
  left: 15%;
  bottom: -15%;
}

@media (min-width: 50em) {
  h1 {
    font-size: 80px;
    line-height: 88px;
  }
  h2 {
    font-size: 52px;
    line-height: 62px;
  }
  .hero {
    .hero-content {
      padding: 60px 0px 35px 0px;
      .heading {
        max-width: 14ch;
      }
      .hero-buttons {
        padding-top: 81px;
      }
      .hero-screens {
        padding-bottom: 152px;
      }
    }
  }
  .features {
    .features-column-left .chart-img {
      left: 27%;
      bottom: -10%;
    }
    .features-column-right {
      margin-top: 54px;
    }
  }
  .cta {
    .cta-left {
      background-color: #343434;
      box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
      border-radius: 33px;
    }
  }
}
